@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Mooli&display=swap');
img{
    display: block;
    width: 100%;
} 
body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-family: 'Mooli', sans-serif;
    padding: 1em;
 }
 button {
    border: none;
    cursor: pointer;
    transition: color 700ms ease;
    border-radius: 5px;
 }
 button:hover{
    filter: brightness(1.15);
    color: red;
 }
.Portada {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 80em;
    margin: auto;
    height: 109vh;
    right: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9em;
    text-align: center;
    font-size: 8px;
    border-radius: 1em;
    color: red;
}
.Portada__Aprendiz {
    display: grid;
}
.Portada__Aprendiz > span {
    color: blue;
}
.Portada__Docente {
    display: grid;
}
.Portada__Docente > span {
    color: blue;
}
.Portada__Footer {
    display: grid;
    gap: 1em;
}



.Introduccion {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    max-width: 36em;
    margin: auto;
    padding: 2em;
    color: red;
    border-radius: 8px;
}
.Introduccion > p {
    color: blue;
}
.EjercicioOne {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    max-width: 58em;
    height: 109vh;
    margin: auto;
    padding: 3em;
    color: red;
    border-radius: 8px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    gap: 7em;
}
.title {
    color: blue;
}
.EjercicioOne > table {
    background-color: rgb(27, 19, 99);
    width: 100%;
    border-radius: 1px;
    border: 1px solid rgb(27, 19, 99);
}
 tr {
    background-color: rgb(228, 228, 236);
    height: 3em;

}

.table__image {
    width: 18em;
}
.table__input {
    width: 2em;
    padding: 1em;
}
.table__input > form > div {
      display: flex;
      gap: .5em;
}
.table__input > form > div > input {
    width: 3em;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    padding: 2px;
}
.input {
    display: flex;
}
.div {
    display: flex;
    gap: .5em;
}
.div > input {
    width: 7em;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    padding: 2px;
}






.EjercicioTwo {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    max-width: 58em;
    margin: auto;
    padding: 3em;
    color: red;
    border-radius: 8px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 4em;
    gap: 4em;
}
.EjercicioTwo > h1 > span {
    color: blue;
}
.EjercicioTwo > form {
    display: flex;
    align-items: center;
    gap: 1em;
}
.EjercicioTwo > form > label {
    font-size: 2em;
}
.EjercicioTwo > form > input {
    font-size: 2em;
    border: none;
    background-color: rgb(206, 206, 230);
    border-radius: .5em 1em 1em .5em;
    width: 100%;
    max-width: 6em;
}
.tableTwo {
    background-color: rgb(10, 11, 70);
}
.barra {
    font-size: 2em;
}
.Preguntas {
    color: blue;
}



.EjercicioThree {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    max-width: 58em;
    height: 152vh;
    margin: auto;
    padding: 3em;
    color: red;
    border-radius: 8px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 4em;
    gap: 4em;
}

.EjercicioThree_text {
    color: blue;
}

.EjercicioThree__form {
    display: grid;
}


.EjercicioThree__form > div  {
  display: flex;
  justify-content: center;
  margin-right: 9em;
  padding-top: 1em;
}

.EjercicioThree__form  > label {
    font-size: 1.5em;
}

.EjercicioThree__form > div > input {
    width: 100%;
    max-width: 10em;
    border: none;
    background-color: rgb(169, 169, 231);
    border-radius: 1em 0px 0px 1em;
    padding: 5px;
    text-align: center;
    color: red;
}

.EjercicioThree__form > div > button {
 color: blue;
 background-color: rgba(248, 3, 3, 0.329);
 border-radius: 0em 1em 1em 0em;
}

.EjercicioThree__form > div > button:hover {
    color: rgb(255, 0, 0);
    background-color: rgb(168, 165, 221);
    border-radius: 0em 1em 1em 0em;
}

.EjercicioThree__vector > h2 {
   color: blue;
}
#result{
    background-color: rgb(179, 179, 231);
    padding: 10px;
    color: red;
    width: 100%;
    max-width: 20em;
    text-align: center;
    border-radius: 1em;
    border: 1px solid red;
}



.EjercicioFour {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    max-width: 58em;
    margin: auto;
    padding: 3em;
    color: red;
    border-radius: 8px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 4em;
    gap: 2em;
    position: relative;
}
.EjercicioFour > h1 > span {
    color: blue; 
}

#forme {
    background-color: rgba(112, 112, 233, 0.233);
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}
#forme > div  {
    display: flex;
    gap: 2em;
}
#forme > h1  {
    border-bottom: 2px solid red;
    width: 10em;
    color: blue;
}
#forme > button  {
    margin-top: 1em;
    width: 100%;
    max-width: 15em;
    height: 2em;
    color: blue;
    background-color: rgba(248, 239, 239, 0.979);
}
#forme > div > div {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
#forme > div > div > div {
    display: grid;
    gap: .2em;
}
#forme > div > div > div > input {
    border: none;
    padding: .3em;
    border-radius: 1em;
    text-align: center;
    color: blue;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.171);
}
.in {
    display: grid;
    gap: .2em;
}
.in > div > input {
    padding: 1em;
}
.oculto {
transform: scale(0);
height: 0;
}
#clo {
   background-color: aqua;
}
#mostrarFormulario {
    height: 2em;
    background-color: blue;
    color: white;
    border: 2px solid red;
}
#mostrarFormulario:hover {
    color: red;
}
#mostrarOyentes {
    height: 2em;
    background-color: blue;
    color: white;
    border: 2px solid red;
}
#mostrarOyentes:hover {
    color: red;
}
.Oyentes {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
width: 100%;
display: flex;
flex-direction: column;
padding: 1em;
justify-content: center;
align-items: center;
gap: 2em;
color: red;
border-radius: 1em;
    
}
.Oyentes > h1 {
    border-bottom: 2px solid blue;
}
#perso {
    display: grid;
}
#perso > button {
    width: 10em;
    height: 2em;
    background-color: rgba(238, 76, 76, 0.959);
    color: white;
    margin-left: 4em;
}
#person {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    align-items: center;
    justify-content: center;
}
.carta > h1 {
    color: rgb(196, 5, 5);
    font-size: 30px;
    border-bottom: 2px solid blue;
}
.carta > h1 > span {
    color: rgb(250, 5, 5);
    font-size: 30px;
}
.carta > h2 > span {
    color: red;
    font-size: 21px;
}
.carta > h2 {
    color: blue;
    font-size: 17px;
}


.carta {
    width: 100%;
    max-width: 30em;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: -3em;
    justify-content: center;
    background-color: rgb(221, 243, 243);
    border: 3px solid red;
}






@media (min-width: 700px) {
    .table__input > form > div > input {
        width: 7em;
        margin-bottom: 5px;
        border: none;
        text-align: center;
        padding: 2px;
    }
}