@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Mooli&display=swap');
img{
    display: block;
    width: 100%;
} 
body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-family: 'Mooli', sans-serif;
    padding: 1em;
 }
 button {
    border: none;
    cursor: pointer;
    transition: color 700ms ease;
    border-radius: 5px;
 }
 button:hover{
    filter: brightness(1.15);
    color: red;
 }
.Portada {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 80em;
    margin: auto;
    height: 109vh;
    right: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9em;
    text-align: center;
    font-size: 8px;
    border-radius: 1em;
    color: red;
}
.Portada__Aprendiz {
    display: grid;
}
.Portada__Aprendiz > span {
    color: blue;
}
.Portada__Docente {
    display: grid;
}
.Portada__Docente > span {
    color: blue;
}
.Portada__Footer {
    display: grid;
    gap: 1em;
}



.Introduccion {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    max-width: 36em;
    margin: auto;
    padding: 2em;
    color: red;
    border-radius: 8px;
}
.Introduccion > p {
    color: blue;
}
.EjercicioOne {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    max-width: 58em;
    height: 109vh;
    margin: auto;
    padding: 3em;
    color: red;
    border-radius: 8px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    gap: 7em;
}
.title {
    color: blue;
}
.EjercicioOne > table {
    background-color: rgb(27, 19, 99);
    width: 100%;
}
 tr {
    background-color: rgb(228, 228, 236);
    height: 3em;

}

.table__image {
    width: 18em;
}
.table__input {
    width: 2em;
    padding: 1em;
}
.table__input > form > div {
      display: flex;
      gap: .5em;
}
.table__input > form > div > input {
    width: 3em;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    padding: 2px;
}
.input {
    display: flex;
}
.div {
    display: flex;
    gap: .5em;
}
.div > input {
    width: 7em;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    padding: 2px;
}






.EjercicioTwo {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    max-width: 58em;
    height: 110vh;
    margin: auto;
    padding: 3em;
    color: red;
    border-radius: 8px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 4em;
    gap: 7em;
}
.EjercicioTwo > h1 > span {
    color: blue;
}








@media (min-width: 700px) {
    .table__input > form > div > input {
        width: 7em;
        margin-bottom: 5px;
        border: none;
        text-align: center;
        padding: 2px;
    }
}